.custom-color {
  color: #1cc7c1;
}
.custom-button {
  background-image: linear-gradient(to right, #18d3b4, #10d0e6);
}
.custom-button:hover {
  background-image: linear-gradient(to right, #10d0e6, #18d3b4);
}
.custom-justify-evenly {
  justify-content: space-evenly;
}
.terms-button {
  width: 125px !important;
}
